
<%= render :partial => "jobs/search_bar" %>
<table class="table table-boldered table-striped custab" >
    <thead>
        <tr>
            <td>职缺</td>
            <td><%= link_to("薪资下限", jobs_path(:order => "by_lower_bound")) %></td>
            <td><%= link_to("薪资上限", jobs_path(:order => "by_upper_bound")) %></td>
            <td><%= link_to("刊登时间", jobs_path ) %></td>
        </tr>
    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
            <td>
                <%= job.wage_upper_bound %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>
<div class="text-center">
  <%= will_paginate @jobs %>
</div>
